<div class="drivebox text-dark bg-white text-center border-light rounded col-3 p-1 m-2" data-id="%%DRIVENUMBER%%">
	<div class="row">
		<div class="col-1"></div>
		<div class="col-10">
			<h2 class="font-weight-bold">%%NAME%%</h2>
		</div>
		<div class="col-1">
			<img class="drivelock" src="%%BASEURL%%img/locked.png" style="float:right; display:none;">
		</div>
	</div>


	<div class="info">FETCHING INFO</div>
	<div class="inline-block progresstrack p-2">
		<div class="label text-dark"></div>
		<div class="progress" style="height: 25px;">
			<div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
				aria-valuemax="0">
			</div>
		</div>
	</div>
	<div class="inline-block progresstotal p-2">
		<div class="label text-dark"></div>
		<div class="progress" style="height: 25px;">
			<div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
				aria-valuemax="0">
			</div>
		</div>
	</div>
</div>
