<div class="videoconverterbox text-dark bg-white text-center border-light rounded col-12 p-1 m-2" data-id="-1"
	data-disc="-1" data-track="-1">
	<div class="row">
		<div class="col-4">
			<h2 class="title font-weight-bold"></h2>
		</div>
		<div class="col-4">
			<div class="info">Waiting For Free Converter</div>
		</div>
		<div class="col-4">
			<div class="inline-block progresstrack p-2">
				<div class="label text-dark"></div>
				<div class="progress" style="height: 25px;">
					<div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
						aria-valuemax="0">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
