backports.functools-lru-cache==1.5
certifi==2019.6.16
chardet==3.0.4
cheroot==6.5.5
CherryPy==18.1.2
configobj==5.0.6
ddt==1.2.1
discid==1.2.0
gitdb==0.6.4
gitdb2==2.0.5
GitPython==2.1.12
idna==2.8
jaraco.functools==2.0
more-itertools==7.2.0
musicbrainzngs==0.6
pexpect==4.7.0
pkg-resources==0.0.0
portend==2.5
ptyprocess==0.6.0
pytz==2019.1
requests==2.22.0
six==1.12.0
smmap==0.9.0
smmap2==2.0.5
tempora==1.14.1
urllib3==1.25.3
zc.lockfile==1.4
