* {
    border-radius: 0 !important;
}

body {
    background-color: black;

}

code {
    display: block;
    white-space: pre-wrap;
    color: inherit !important;
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    background-color: black;
    border-top-color: white;
    border-top-width: 2px;
    border-top-style: solid;
    width: 100%;
    text-align: center;
    line-height: 25px;
    height: 25px;
}

/* NAVBAR */

.navbar {
    background-color: #222222;
    border: 0;
    margin: 0;
    padding: 0;

    a {
        color: white !important;
        text-decoration: none;
        padding: 0;
    }

    a:focus,
    a:hover {
        color: #aaaaaa !important;
    }

    .navbar-brand {
        background-color: white;
        color: black !important;
        padding: 5px 0 0 10px;
        height: 50px;
        line-height: 40px;
        width: 110px;
        margin-right: 0;
    }

    .navbar-brand:focus,
    .navbar-brand:hover {
        background-color: white;
        color: black !important;
    }

    .navbar-brand>img {
        display: inline-block;
        width: 25%;
    }

    .navbar-toggler {
        color: white;
    }

    .nav>li>a:focus,
    .nav>li>a:hover {
        text-decoration: none;
    }

    .nav-item {
        min-width: 100px;
        line-height: 50px;
        padding: 0 10px;
        text-align: center;
    }

    .dropdown-menu {
        border: 0;
        margin: 0;
        border: 0;
        padding: 0;
        background-color: #222222;
    }

    .dropdown-item {
        padding-left: 15px;
    }

    .dropdown-item:focus,
    .dropdown-item:hover {
        text-decoration: none;
        background-color: #222222;
    }

    .dropdown-item.active,
    .dropdown-item:active {
        background-color: #666666;
    }
}

.dropdown:hover>.dropdown-menu,
.dropright:hover>.dropdown-menu {
    display: block;
}

/* BODY HERE */

#body {
    padding-top: 50px;
    background-color: black;
    color: white;

    .homepagelogo {
        width: 90%;
        height: 90%;
        margin: 5%;
    }
}

a {
    text-decoration: none !important;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.w45 {
    min-width: 45px !important;
    width: 45px !important;
}

.toggle-off.btn {
    padding-left: 11px !important;
}

.modal-content {
    color: black;
}

a.nav-link {
    color: lightgray;
}

.form-check-input {
    margin-left: 0 !important;
}

.onclick {
    cursor: pointer;
}

.topright {
    position: absolute;
    top: 10px;
    right: 10px;
}

#search_modal {
    .modal-dialog {
        width: 98% !important;
        height: 98% !important;
        margin: 1% !important;
        max-width: 100% !important;
    }

    .modal-footer {
        display: block !important;
    }
}

#dim_screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 5000;
    display: none;
}

.custom-file-upload {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    padding: 1px 15px;
}

#loading-popup {
    display: none;

    .popup-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75);

        .popup {
            width: 200px;
            height: 200px;
            position: fixed;
            top: calc(50% - 100px);
            left: calc(50% - 100px);

            .loader {
                border: 16px solid #f3f3f3;
                /* Light grey */
                border-top: 16px solid #3498db;
                /* Blue */
                border-radius: 50% !important;
                width: 120px;
                height: 120px;
                position: relative;
                left: calc(50% - 60px);
                animation: spin 2s linear infinite;
            }

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }
}

/* RIPPER */
#ripper {
    .trackdata {
        cursor: pointer;
        font-size: 1.1rem;
    }
}
