{%- import 'macros/inputs.html' as inputs -%}
{%- macro panel(obj) -%}
{%- if obj.enabled_obj -%}
{{ enablefirstblock(obj, obj.enabled_obj)}}
{%- else -%}
{%- for object in obj.objects -%}
{%- if object.type != "list" -%}
{{ inputs.itemfull(object) }}
{%- endif -%}
{%- endfor -%}
{%- for object in obj.objects -%}
{%- if object.type == "list" -%}
{{ listitem(object) }}
{%- endif -%}
{%- endfor -%}
{%- endif -%}
{%- endmacro -%}

{%- macro listloop(objs, skip_enabled=false) -%}
{%- for object in objs -%}
{%- if object.type == "list" -%}
{{ listitem(object) }}
{%- else -%}
{%- if skip_enabled and object.variable == "enabled" -%}
{%- continue -%}
{%- endif -%}
{{ inputs.itemfull(object) }}
{%- endif -%}
{%- endfor -%}
{%- endmacro -%}

{% macro listitem(obj) -%}
{%- if obj.is_section -%}
{{ sectionlist(obj) }}
{%- else -%}
{{ block(obj) }}
{%- endif -%}
{%- endmacro -%}

{%- macro enablefirstblock(obj, enabled_obj) -%}

<section id="{{ obj.var_name }}_panel" class="panel row my-0 mx-4 pt-2 my-4 ">
    <div class="col-12 d-flex">{{ inputs.itemfull(enabled_obj) }}</div>
    <div class="section col-12 pt-2" id="{{ obj.var_name }}_section">
        {{ listloop(obj.objects, true) }}
    </div>
</section>
{%- endmacro -%}

{%- macro sectionlist(obj) -%}
<div id="{{ obj.var_name }}_section">{{ listloop(obj.objects) }}</div>
{%- endmacro -%}

{%- macro block(obj) -%}
<section id="{{ obj.var_name }}_panel" class="panel row my-0 mx-4 pt-2 my-4 border border-light">
    <div class="col-12 border-bottom border-white d-flex">
        <div class="mr-auto">
            <h2>{{ obj.label }}</h2>
        </div>
        <div class="pr-1">{%- if obj.enabled_obj -%}{{ inputs.item(obj.enabled_obj) }}{%- endif -%}</div>
    </div>
    <div class="section col-12 pt-2" id="{{ obj.var_name }}_section">
        {{ listloop(obj.objects, true) }}
    </div>
</section>
{%- endmacro -%}
