{%- import 'macros/inputs.html' as inputs -%}

{%- macro disctype(types) -%}

<div id="disctypesection" class="row p-4">
    <h1 class="col-12 text-center">What Type of disc is it?</h1>
    {%- for key in types -%}
    {{ startIcon(key, types[key]) }}
    {%- endfor -%}
</div>
{%- endmacro -%}

{%- macro startIcon(label, icon) -%}
<div class="col-2 mb-4">
    <button class="btn btn-light btn-block" data-click-action="chooseDiscType"
        data-disc-type="{{ label|replace(" ", "")|lower }}">
        <i class="fas fa-{{ icon }} h2"></i>
        <div class="font-weight-bold">{{ label }}</div>
    </button>
</div>
{%- endmacro -%}

{%- macro discinfo(items) -%}
{%- for item in items -%}
{%- if item.type == "hidden" -%}
{{ inputs.hidden(item) }}
{%- else -%}
{{ inputs.itemfull(item) }}
{%- endif -%}
{%- endfor -%}
{%- endmacro -%}
