{%- import 'macros/inputs.html' as inputs -%}

{%- macro discType(types) -%}
<h1 class="col-12 text-center">What Type of disc is it?</h1>
{%- for key in types -%}
{{ startDiscIcon(key, types[key]) }}
{%- endfor -%}
{%- endmacro -%}

{%- macro startDiscIcon(label, icon) -%}
<div class="col mb-4">
    <button type="button" class="btn btn-light btn-block" data-click-action="chooseDiscType"
        data-disc-type="{{ label|replace(" ", "")|lower }}">
        <i class="fas fa-{{ icon }} h2"></i>
        <div class="font-weight-bold">{{ label }}</div>
    </button>
</div>
{%- endmacro -%}

{%- macro items(items) -%}
{%- for item in items -%}
{%- if item.type == "hidden" -%}
{{ inputs.hidden(item) }}
{%- else -%}
{{ inputs.itemfull(item) }}
{%- endif -%}
{%- endfor -%}
{%- endmacro -%}

{%- macro trackType(types) -%}
<h1 class="col-12 text-center">What Type of track is it?</h1>
{%- for key in types -%}
{{ startTrackIcon(key, types[key]) }}
{%- endfor -%}
{%- endmacro -%}

{%- macro startTrackIcon(label, icon) -%}
<div class="col mb-4">
    <button type="button" class="btn btn-light btn-block" data-click-action="chooseTrackType"
        data-track-type="{{ label|replace(" ", "")|lower }}">
        <i class="fas fa-{{ icon }} h2"></i>
        <div class="font-weight-bold">{{ label }}</div>
    </button>
</div>
{%- endmacro -%}
