body {
    background-color: black;
}

/* FOOTER */

footer {
    background-color: black;
    border-top-color: white;
}

/* NAVBAR */

.navbar {
    background-color: #222222;
}

.navbar a {
    color: white !important;
}

.navbar a:focus, .navbar a:hover {
    color: #aaaaaa !important;
}

.navbar .navbar-brand {
    background-color: white;
    color: black !important;
}

.navbar .navbar-brand:focus, .navbar .navbar-brand:hover {
    background-color: white;
    color: black !important;
}

.navbar .navbar-toggler {
    color: white;
}

.navbar .dropdown-menu {
    background-color: #222222;
}

.navbar .dropdown-item:focus, .navbar .dropdown-item:hover {
    background-color: #222222;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #666666;
}

#body {
    background-color: black;
    color: white;
}